{% load static %}
<!--Footer-->

    <footer id="footer">

        <div class="site-footer">
        	<div class="container">
                <hr>

                <div class="footer-bottom">
                    	<!--Footer Copyright-->
	                	<div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span>Garment Hub</div>
                        <!--End Footer Copyright-->
                </div>

            </div>
        </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->

     <!-- Including Jquery -->
     <script src="{% static 'shop/assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/vendor/jquery.cookie.js' %}"></script>
     <script src="{% static 'shop/assets/js/vendor/wow.min.js' %}"></script>
     <!-- Including Javascript -->
     <script src="{% static 'shop/assets/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/plugins.js' %}"></script>
     <script src="{% static 'shop/assets/js/popper.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/lazysizes.js' %}"></script>
     <script src="{% static 'shop/assets/js/main.js' %}"></script>

</div>
</body>

<!-- belle/index.html   11 Nov 2019 12:20:55 GMT -->
</html>