{% include 'guest/header.html' %}

{% load static %}

<style>
    a:link{
  text-decoration: underline;
}

</style>

<!--Body Content-->
<br><br><br>
<div id="page-content">
    <!--Page Title-->
    <div class="wrapper"><h1 class="page-width" align="center">Forgot Password ?</h1></div>
    <br><br>
    <!--End Page Title-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form method="post" action="{% url 'forgotpassword' %}" id="CustomerLoginForm"
                          accept-charset="UTF-8" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>EMAIL</label>

                                    <input type="text" name="email" placeholder="Enter email" id="CustomerEmail"
                                           class="" autocorrect="off" autocapitalize="off" autofocus="">
                                </div>
                            </div>

                        </div>

                         <br>   <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Confirm">


                         </form>
                    </div>
               	</div>
            </div>
        </div>
    </div>
    <!--End Body Content-->
 <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->

     <!-- Including Jquery -->
     <script src="{% static 'shop/assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/vendor/jquery.cookie.js' %}"></script>
     <script src="{% static 'shop/assets/js/vendor/wow.min.js' %}"></script>
     <!-- Including Javascript -->
     <script src="{% static 'shop/assets/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/plugins.js' %}"></script>
     <script src="{% static 'shop/assets/js/popper.min.js' %}"></script>
     <script src="{% static 'shop/assets/js/lazysizes.js' %}"></script>
     <script src="{% static 'shop/assets/js/main.js' %}"></script>

</div>
</body>

<!-- belle/index.html   11 Nov 2019 12:20:55 GMT -->
</html>