{% include 'admin/header.html' %}

{% include 'admin/theme.html' %}

{% include 'admin/sidebar.html' %}

<div class="main-panel">

<div class="col-md-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" align="center">EDIT COLOR</h4>
                  <form class="forms-sample" action="{% url 'editcolor' color.colorid %}" method="post">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">COLOR NAME</label>
                      <input type="text" class="form-control" id="exampleInputUsername1"  name="colorname" value="{{color.colorname}}" required>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                  </form>
                </div>
              </div>
            </div>

{% include 'admin/footer.html' %}
