{% load static %}

</div>
    </div>
        </div>

<footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="float-none float-sm-left d-block mt-1 mt-sm-0 text-center">Garment Hub Management System</span>
          </div>
        </footer>

</div>
</div>
</div>

  <script src="{% static '/admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static '/admin/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static '/admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static '/admin/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static '/admin/js/off-canvas.js' %}"></script>
  <script src="{% static '/admin/js/hoverable-collapse.js' %}"></script>
  <script src="{% static '/admin/js/template.js' %}"></script>
  <script src="{% static '/admin/js/settings.js' %}"></script>
  <script src="{% static '/admin/js/todolist.js' %}"></script>
  <script src="{% static '/admin/js/dashboard.js"></script>
  <script src="{% static '/admin/js/Chart.roundedBarCharts.js' %}"></script>
</body>

</html>