{% include 'admin/header.html' %}

{% include 'admin/theme.html' %}

{% include 'admin/sidebar.html' %}

<div class="main-panel">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>

  table, th, td {
	border: 1px solid black;
  	border-collapse: collapse;
}
 td {
  	padding: 17px;
}
th {
padding:17px;}
th {
	background-color: #7393B3;
	color : white
}
tr:nth-child(even) {
  background-color: white;
  }

  a:link, a:visited, a:active, a:hover {
  color: black;
  text-decoration: none;
  cursor: auto;
}

.w3-button {width:66px;}


    </style>

    <div>
        <h4 class="card-title" align="center"><strong>Extra  Details of  Shop {{shop.shopname}}</strong></h4>
        <br>
    </div>

    <table>

        <tr>
            <th>ADDRESS</th>
            <th>LOCATION</th>
            <th>DISTRICT</th>

        </tr>

        {% for i in object %}

        <tr>

            <td>{{ i.address }}</td>
            <td>{{ i.locationid.locationname }}</td>

            <td>{{ i.locationid.districtid.districtname }}</td>

        </tr>


        {% endfor %}

    </table>

    {% include 'admin/footer.html' %}
