{% include 'admin/header.html' %}

{% include 'admin/theme.html' %}

{% include 'admin/sidebar.html' %}

<div class="main-panel">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

  table, th, td {
	border: 1px solid black;
  	border-collapse: collapse;
}
 td {
  	padding: 17px;
}
th {
padding:17px;}
th {
	background-color: #7393B3;
	color : white
}

  tr:nth-child(odd) {
  background-color: white;
  }

  a:link, a:visited, a:active, a:hover {
  color: black;
  text-decoration: none;
  cursor: auto;
}

.w3-button {width:66px;}

</style>

{% load static %}
<script src="{% static 'jquery.min.js' %}"></script>
<script>
	$(document).ready(function () {
<!--alert("check")-->

$.ajaxSetup({
		headers : {"X-CSRFToken" : '{{csrf_token}}'}
		});
		$("#materialid").change(function()
		{
<!--		alert("test")-->
		var materialid=$(this).val();
<!--alert(materialid);-->
		var i=1;
	$.ajax({
				type:"POST",
				url : '{% url "fillsubmaterial" %}',
				data : {materialid :materialid},
				dataType:"json",
				success : function(data)
				{
				$('#submaterialtype').empty();
				 // Populate table with new data
                    $.each(data,function(key,val) {
                    var id=val.submaterialid;
                     var deleteUrl = '{% url "deletesubmaterial" 0 %}'.replace('0', id);
                    var editUrl = '{% url "editsubmaterial" 0 %}'.replace('0', id);

                    var row = "<tr><td>" + i++ + "</td>><td>" + val.submaterialtype + "</td><td><a href='"+editUrl+"'><p><button class='w3-button w3-teal'>Edit</button></p></a></td> <td><a  href='"+deleteUrl+"'><p><button class='w3-button w3-red'>Delete</button></p></a></td></tr>";
                          $('#submaterialtype').append(row);
                    });
				}
				});
		});
});

</script>

  <div>
	<h4 class="card-title" align="center"><strong>VIEW SUB MATERIAL</strong></h4>
	<br>
	</div>

  <table>

    <thead>

    <tr>

        <th>SELECT MATERIAL
          <select name="materialid" class="form-control" id="materialid">
           {% for i in material %}
                      <option value="{{ i.materialid }}">{{ i.materialtype }}</option>
                      {% endfor %}
      </select>

    <th>NAME</th>
  	<th>EDIT</th>
  	<th>DELETE</th>

    </tr>

    </thead>

      <tbody id="submaterialtype">
 {% for i in submaterial %}

<tr>

	<td>{{ forloop.counter }}</td>
<td>{{ i.submaterialtype }}</td>
    <div class="w3-container">
      <td><a href="{% url 'editsubmaterial' id=i.submaterialid %}"><p><button class="w3-button w3-teal">Edit</button></p></a></td>
<td><a href="{% url 'deletesubmaterial' id=i.submaterialid %}"><p><button class="w3-button w3-red">Delete</button></p></a></td>
    </div>
</tr>
      {% endfor %}
      </tbody>

  </table>

  {% include 'admin/footer.html' %}