{% include 'admin/header.html' %}
{% include 'admin/theme.html' %}
{% include 'admin/sidebar.html' %}
{% load static %}
<div class="home-tab">

    <div class="tab-content tab-content-basic">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">


            <div class="row">
                <div class="col-lg-12 d-flex flex-column">

                    <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded table-darkBGImg">
                                <div class="card-body">
                                    <div class="col-sm-8">
                                        <h3 class="text-white upgrade-info mb-0">
                                            View report of various <span class="fw-bold">Purchases</span> made during the specified period of time.
                                        </h3>
                                        <a href="/admin/viewreportbydate"
                                           class="btn btn-info upgrade-btn">Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded table-darkBGImg">
                                <div class="card-body">
                                    <div class="col-sm-8">
                                        <h3 class="text-white upgrade-info mb-0">
                                            View report by various <span class="fw-bold">Products</span> that are purchased.
                                        </h3>
                                        <a href="/admin/viewreportbyproduct" class="btn btn-info upgrade-btn">Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row flex-grow">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded table-darkBGImg">
                                <div class="card-body">
                                    <div class="col-sm-8">
                                        <h3 class="text-white upgrade-info mb-0">
                                            View report by various <span class="fw-bold">Shops</span> where purchases are made.
                                        </h3>
                                        <a href="/admin/viewreportbyshop" class="btn btn-info upgrade-btn">Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



            </div>
        </div>
    </div>
</div>
{% include 'admin/footer.html' %}
