{% include 'admin/header.html' %}

{% include 'admin/theme.html' %}

{% include 'admin/sidebar.html' %}

<div class="main-panel">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

  table, th, td {
	border: 1px solid black;
  	border-collapse: collapse;
}
 td {
  	padding: 17px;
}
th {
padding:17px;}
th {
	background-color: #7393B3;
	color : white
}
tr:nth-child(even) {
  background-color: white;
  }

  a:link, a:visited, a:active, a:hover {
  color: black;
  text-decoration: none;
  cursor: auto;
}

.w3-button {width:66px;}

</style>

<div>
	<h4 class="card-title" align="center"><strong>VIEW DISTRICT</strong></h4>
	<br>
	</div>

  <table>

  <tr>
	  <th>SL NO</th>
    <th>NAME</th>
  	<th>EDIT</th>
  	<th>DELETE</th>
  </tr>

	  {% for i in district %}

<tr>
	<td>{{ forloop.counter }}</td>
<td>{{ i.districtname }}</td>
	<div class="w3-container">
<td><a href="{% url 'editdistrict' id=i.districtid %}"><p><button class="w3-button w3-teal">Edit</button></p></a></td>
<td><a href="{% url 'deletedistrict' id=i.districtid %}"><p><button class="w3-button w3-red">Delete</button></p></a></td>
	</div>
</tr>


	  {% endfor %}

</table>



{% include 'admin/footer.html' %}
