{% include 'shop/header.html' %}

<style>
    a:link{
  text-decoration: underline;
}
</style>

<!--Body Content-->
<br><br><br>
<div id="page-content">
    <!--Page Title-->
    <div class="page-title">
        <br><br><br><br>
        <div class="wrapper"><h1 class="page-width" align="center">CHANGE PASSWORD</h1></div>
        <br><br>
    </div>
    <!--End Page Title-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form method="post" action="{% url 'changepassword'  %}" id="CustomerLoginForm"
                          accept-charset="UTF-8" class="contact-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label >EMAIL</label>
                                    <input type="email" name="email"
                                            class="" required>
                                </div>
                            </div>

                             <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label >CURRENT PASSWORD</label>
                                    <input type="password" name="password"
                                            class="" required>
                                </div>
                            </div>

                             <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label >NEW PASSWORD</label>
                                    <input type="password" name="newpassword"
                                            class="" required>
                                </div>
                            </div>

                             <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label >CONFIRM PASSWORD</label>
                                    <input type="password" name="confirmpassword"
                                            class="" required>
                                </div>
                            </div>

                            <div class=" col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <br>
                                    <input type="submit" class="btn mb-3" value="Update">


                                </div>


                            </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<!--End Body Content-->

{% include 'shop/footer.html' %}

</div>
</body>

<!-- belle/index.html   11 Nov 2019 12:20:55 GMT -->
</html>

