{% load static %}
<!--Footer-->
<footer id="footer">

    <div class="site-footer">
        <div class="container">
            <!--Footer Links-->
            <div class="footer-top">
                <div class="row">

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 footer-links" align="center">
                        <h4 class="h4">QUICK SHOP</h4>

                        <ul>
                            <li><a href="/shop/viewsubmaterial">Sub Material</a></li>
                            <li><a href="/shop/viewpattern">Pattern</a></li>
                        </ul>

                    </div>

                </div>
            </div>
            <!--End Footer Links-->
            <hr>
            <div class="footer-bottom">
                <div class="row">
                    <!--Footer Copyright-->
                    <div><span></span> <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GARMENT HUB</a></div>
                    <!--End Footer Copyright-->

                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->

<!-- Including Jquery -->
<script src="{% static 'guest/assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'guest/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'guest/assets/js/vendor/jquery.cookie.js' %}"></script>
<script src="{% static 'guest/assets/js/vendor/wow.min.js' %}"></script>
<!-- Including Javascript -->
<script src="{% static 'guest/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'guest/assets/js/plugins.js' %}"></script>
<script src="{% static 'guest/assets/js/popper.min.js' %}"></script>
<script src="{% static 'guest/assets/js/lazysizes.js' %}"></script>
<script src="{% static 'guest/assets/js/main.js' %}"></script>

</div>
</body>

<!-- belle/index.html   11 Nov 2019 12:20:55 GMT -->
</html>