{% include 'shop/header.html' %}
{% load static %}
<script>
     document.addEventListener("DOMContentLoaded", function() {
                            setMinDateAndDisplay();
                            });

                            function setMinDateAndDisplay() {
                            var datePicker = document.getElementById("exdate");
                            var currentDate = new Date();
                            currentDate.setDate(currentDate.getDate() + 1); // Adding 5 days
                            var minDate = currentDate.toISOString().split('T')[0];
                            datePicker.setAttribute("min", minDate);

                            // Display the current date plus five days in the input field
                            var selectedDate = new Date();
                            selectedDate.setDate(selectedDate.getDate() + 1); // Adding 5 days
                            datePicker.value = selectedDate.toISOString().split('T')[0];
                            }
</script>
<br><br><br><br><br><br>
<!--Body Content-->
<div id="page-content">
    <div class="container" align="center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="your-order-payment">
                <div class="your-payment">
                    <h2 class="payment-title mb-3"><strong>payment</strong></h2>
                    <div class="payment-method">
                        <form method="post">
                            {% csrf_token %}
                            <div class="payment-accordion">
                                <div id="accordion" class="payment-section">
                                    <div class="card mb-2">
                                        <div class="card-body" align="left">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-12 required">
                                                        <label for="input-cardname">NAME ON CARD<span
                                                                class="required-f"></span></label>
                                                        <input name="cardname" value="" placeholder="Card name"
                                                               id="input-cardname" class="form-control" type="text" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-12 required">
                                                        <label for="input-country">CREDIT CARD TYPE <span
                                                                class="required-f"></span></label>
                                                        <select name="country_id" class="form-control" required>
                                                            <option value="1">American express</option>
                                                            <option value="2">Visa card</option>
                                                            <option value="3">Master card</option>
                                                            <option value="4">Discover card</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-12 required">
                                                        <label for="input-cardno">CREDIT CARD NUMBER <span
                                                                class="required-f"></span></label>
                                                        <input name="cardno" value=""
                                                               placeholder="Credit card number" id="input-cardno"
                                                               class="form-control" type="text" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-12 required">
                                                        <label for="input-cvv">CVV CODE <span
                                                                class="required-f"></span></label>
                                                        <input name="cvv" value=""
                                                               placeholder="Card verification number" id="input-cvv"
                                                               class="form-control" type="text" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-12 required">
                                                        <label>EXPIRATION DATE <span
                                                                class="required-f"></span></label>
                                                        <input type="date" id="exdate" name="exdate" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-12 required">
                                                        <label>TOTAL AMOUNT IN RS.<span
                                                                class="required-f"></span></label>
                                                        <input type="number" name="paymentamount" class="form-control"
                                                               value="{{bookingamount}}" readonly>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                        <img class="padding-25px-top xs-padding-5px-top"
                                                             src="{% static 'shop/assets/images/payment-img.jpg' %}"
                                                             alt="Card"
                                                             title="Card"/>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-button-payment">
                                <button class="btn" value="Place order" type="submit">PAY</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--End Body Content-->
{% include 'shop/footer.html' %}