{% include 'shop/header.html' %}
{% load static %}
<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 13px;
  width: 111px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 13px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}


</style>
<!--Body Content-->
<div id="page-content">
    <!--Collection Banner-->
    <div class="collection-header">
        <div class="collection-hero">
            <div class="collection-hero__image"><img data-src="{% static 'shop/assets/images/cat-women3.jpg' %}"
                                                     src="{% static 'shop/assets/images/cat-women3.jpg' %}" alt="Women"
            /></div>
            <div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width">Shop List
                View</h1></div>
        </div>
    </div>
    <!--End Collection Banner-->
    <div class="container">
        <div class="row">
            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="category-description">
                    <br><br><strong><h1 align="center">PRODUCTS</h1></strong>
                </div>
                <hr>
                <div class="productList">
                    <div class="list-view-items grid--view-items">
                        {% for i in product %}
                        <!--ListView Item-->
                        <div class="list-product list-view-item">
                            <div class="list-view-item__image-column">
                                <div class="list-view-item__image-wrapper">
                                    <!-- Image -->
                                    <a href="{% url 'viewproductmore' id=i.productid %}"><img
                                            class="list-view-item__image blur-up lazyload"
                                            data-src="/images/{{ i.productphoto }}"
                                            src="/images/{{ i.productphoto }}"
                                            alt="image"></a>
                                    <!-- End Image -->
                                </div>
                            </div>
                            <div class="list-view-item__title-column">
                                <div class="h2 grid-view-item__title"><a
                                        href="{% url 'viewproductmore' id=i.productid %}">{{i.productname}}</a></div>
                                <!-- Sort Description -->
                                <p>{{i.description}}</p>
                                <!-- End Sort Description -->
                                <!-- Price -->
                                <p class="product-price grid-view-item__meta">
                                    <span class="product-price__price product-price__sale"><span class="money">Rs. {{i.price}}</span></span>
                                </p>
                                <!-- End Price -->
                                <form class="variants" action="">
                                    <a href="{% url 'viewproductmore' id=i.productid %}">
                                        <button class="button" style="vertical-align:middle" type="button">
                                            <span>BOOK</span></button>
                                    </a>
                                </form>
                            </div>
                        </div>
                        <!--End ListView Item-->
                        {% endfor %}


                        <h1 align="center">RECOMMENDATIONS</h1></strong>
                        <hr>
                        <div class="productList">

                            <div class="grid-products grid--view-items">


                                <div class="row">

                                    {% for product_info in sorted_products_info %}

                                    <div class="col-3 col-sm-3 col-md-2 col-lg-2 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="{% url 'viewproductmore' id=product_info.productid %}">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload"
                                                     data-src="/images/{{ product_info.productphoto }}"
                                                     src="/images/{{ product_info.productphoto }}" alt="image"
                                                     style="width:250px; height:250px; ">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload"
                                                     data-src="/images/{{ product_info.productphoto }}"
                                                     src="/images/{{ product_info.productphoto }}" alt="image"
                                                     style="width:250px; height:250px; ">
                                                <!-- End hover image -->

                                            </a>
                                            <!-- end product image -->


                                        </div>
                                        <!-- end product image -->

                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="{% url 'viewproductmore' id=product_info.productid %}">{{ product_info.productname }}</a>
                                            </div>
                                            <!-- End product name -->


                                        </div>
                                        <!-- End product details -->
                                    </div>

                                    {% endfor %}

                                </div>


                            </div>
                        </div>
                        <hr class="clear">


                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
</div>
</div>
<!--End Body Content-->
{% include 'shop/footer.html' %}